In [42]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from bs4.element import Tag

In [43]:
URL = "https://en.wikipedia.org/wiki/List_of_companies_of_Bangladesh"

In [44]:
HEADERS = ({'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36','Accept-Language': 'en-US, en;q=0.5'})

In [45]:
webpage = requests.get (URL,headers=HEADERS)

In [46]:
type(webpage.content)

bytes

In [47]:
#soup object containiang all data
soup = BeautifulSoup(webpage.content, "html.parser")

In [48]:
#assume this table class is a wikitable
tables = soup.find("table", {"class": "wikitable"})

In [52]:
tables = [t for t in soup.find_all("table") if isinstance(t, Tag)]

dfs = []

for table in tables:
    if "wikitable" not in table.get("class", []):
        continue

    rows = table.find_all("tr")

    # Headers
    headers = [th.text.strip() for th in rows[0].find_all("th")]

    data = []
    for row in rows[1:]:
        cols = [td.text.strip() for td in row.find_all(["td","th"])]

      
        if len(cols) > len(headers):
            cols = cols[:len(headers)]

    
        if len(cols) < len(headers):
            cols.extend([""] * (len(headers) - len(cols)))

        data.append(cols)

    df = pd.DataFrame(data, columns=headers)
    dfs.append(df)

dfs[0]

,Name,Industry,Sector,Headquarters,Founded,Notes,Status
0,,,,,,,
1,A K Khan & Company,Conglomerates,-,Chittagong,1945,"Textiles, logistics, water, financial services...",P
2,Aarong,Consumer goods,Personal & household goods,Dhaka,1978,General retail,P
3,Abul Khair Group,Conglomerates,-,Chattogram,1953,"Steel, cement, tobacco, food & beverage, consu...",P
4,Adamjee Jute Mills,Consumer goods,Clothing & accessories,Narayanganj,1951,"Jute mill, defunct 2002",P
...,...,...,...,...,...,...,...
170,United Group,Conglomerates,-,Dhaka,1978,"Power, manufacturing, healthcare, education, r...",P
171,US-Bangla Airlines,Consumer services,Airlines,Dhaka,2013,Private airline,P
172,Uttara Bank Limited,Financials,Banks,Dhaka,1965,Private commercial bank,P
173,Walton,Conglomerates,-,Dhaka,1977,"Automobiles, consumer electronics, household g...",P
174,Western Marine Shipyard,Industrials,Commercial vehicles & trucks,Chittagong,2000,Shipyard,P

In [56]:
import os

# Target folder
save_path = r"D:\JUPYTER NOTEBOOK PROJECT"

# If folder does not exist, create it (optional)
os.makedirs(save_path, exist_ok=True)

# File name
file_name = "bangladesh_companies.csv"

# Full path
full_path = os.path.join(save_path, file_name)

# Save CSV
df.to_csv(full_path, index=False)

print("CSV saved successfully at:", full_path)

CSV saved successfully at: D:\JUPYTER NOTEBOOK PROJECT\bangladesh_companies.csv